div.wrapper > div.img {
  width: 90%;
  height: 300px;
  text-align: center;
  margin: 0 60px 20px 99px;
}
div.wrapper > div.img > a > img {
  border-radius: 20px;
  margin: 0 10px;
}
/**/
div.wrapper > div.img02 {
  width: 88.9%;
  height: 300px;
  text-align: center;
  margin: 80px 60px 40px 99px;
}
div.wrapper > div.img02 > a > img {
  border-radius: 20px;
  margin: 0 2px;
}
/**/
div.wrapper > div.img03 {
  width: 85.5%;
  height: 60px;
  margin-left: 140px;
}
div.wrapper > div.img03 > a > img {
  border-radius: 15px;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
}
/**/
div.wrapper > div.img04 {
  width: 88%;
  height: 300px;
  text-align: center;
  margin: 20px 60px 50px 117px;
}
div.wrapper > div.img04 > a > img {
  width: 812px;
  border-radius: 20px;
  margin: 0 2px;
}
